/* Prevent highlighting */
* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Opera and Firefox */
}
body{--color-text:#fff;--color-bg:#1f174e;--color-bg-2:#151436;--color-bg-3:#000;--color-link:#8596df;--color-link-hover:#723bb7;background:radial-gradient(ellipse at 30% 48%,var(--color-bg) 0,var(--color-bg-2) 45%,var(--color-bg-3) 150%)}